*{
    margin: 0;
}
html{
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: White;
    z-index: 2;
    background: rgb(205,119,248);
    background: -moz-linear-gradient(303deg, rgba(205,119,248,1) 0%, rgba(101,101,204,1) 29%, rgba(40,180,131,1) 100%);
    background: -webkit-linear-gradient(303deg, rgba(205,119,248,1) 0%, rgba(101,101,204,1) 29%, rgba(40,180,131,1) 100%);
    background: linear-gradient(303deg, rgba(205,119,248,1) 0%, rgba(101,101,204,1) 29%, rgba(40,180,131,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd77f8",endColorstr="#28b483",GradientType=1);
}
.name{
    font-family: "Lato", sans-serif;
}
h5 {
    text-align: center;
}
.card{
    background-color: silver;
}

/*     ----------    ALL FOR THE HEADER ----------------*/
.header {
    background-size: 100%;
    background: linear-gradient(
            to left top,
            rgba(205, 119, 248, 0.8),
            rgba(40, 180, 131, 0.8)),
    url(../img/codeup-stitch.png) top;
}
.toggle-icon{
    height: 30px;
}
.heading-primary {
    text-align: center;
    color: #fff;
    backface-visibility: hidden;
}
.heading-primary-main{
    display: block;
    letter-spacing: 5px;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}
.heading-primary-sub {
    display: block;
    letter-spacing: 3px;
    margin-bottom: 33px;

    animation-name: moveInRight;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}
.row{
    margin: 0;
}
.carousel-item{
    transition: transform 5s ease, opacity 1s ease-out
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }



}
@media screen and (min-width: 768px){
    body{
        height: 100vh;
    }
    .hide-on-tablet{
        visibility: hidden;
    }
    .hide-on-mobile{
        visibility: visible;
    }
    .header {
        height: 93vh;
        background-size: cover;
        background: linear-gradient(
                to left top,
                rgba(205, 119, 248, 0.8),
                rgba(40, 180, 131, 0.8)),
        url(../img/codeup-stitch.png) top;
        background-size: cover;
        position: relative;
        clip-path: polygon(0 0, 100% 92%, 100% 0);
    }
    .heading-primary{
        text-transform: uppercase;
    }
    .heading-primary-main{

        float: right;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;

        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-timing-function: ease-out;
    }
    .heading-primary-sub{

        font-size: 20px;
        font-weight: 400;
        letter-spacing: 17.5px;
        margin-bottom: 33px;

        animation-name: moveInRight;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-timing-function: ease-out;
    }

    .col-6{
        margin-left: auto;
    }


    .inner-box {
        background: #09c999;
        padding: 1em;
        border-radius: 30px;
        clip-path: circle(7% at 6% 50%);
        transition: all .5s ease-in-out;
        cursor: pointer;
        margin-left: 7px;
        margin-top: -316px;
        z-index: 1000;
    }
    .inner-box:hover, .hov-clicked {
        clip-path: circle(80%);
        background: #00B6FF;
    }
    .inner-box h1 {
        color: white;
        margin: 0;
    }
    .inner-box p {
        color: white;
        font-size: .8rem;
    }
    .inner-box .d-name {
        color: white;
        font-weight: bold;
        transition: color .5s;
        position: relative;
        margin-right: 10%;
    }
    .inner-box:hover .d-name {
        color: rgba(255, 255, 255, 0);
    }
    .curriculum{
        height: 48px;
        width: 48px;
    }
    .footer-bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    #directory {
        margin-top: 33px;
    }

    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        80% {
            transform: translateX(10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        80% {
            transform: translateX(-10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }


}