*{
    margin: 0;
}
html{
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: White;
    z-index: 2;
    /*background: url("../img/gradient-bg.jpg") center top;*/
    background: rgb(205,119,248);
    background: -moz-linear-gradient(303deg, rgba(205,119,248,1) 0%, rgba(101,101,204,1) 29%, rgba(40,180,131,1) 100%);
    background: -webkit-linear-gradient(303deg, rgba(205,119,248,1) 0%, rgba(101,101,204,1) 29%, rgba(40,180,131,1) 100%);
    background: linear-gradient(303deg, rgba(205,119,248,1) 0%, rgba(101,101,204,1) 29%, rgba(40,180,131,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd77f8",endColorstr="#28b483",GradientType=1);
}
.name{
    /*text-align: center;*/
    font-family: "Lato", sans-serif;
}
h5 {
    text-align: center;
}
.card{
    background-color: silver;
}

/*     ----------    ALL FOR THE HEADER ----------------*/
.header {
    background-size: 100%;
    background: linear-gradient(
            to left top,
            rgba(205, 119, 248, 0.8),
            rgba(40, 180, 131, 0.8)),
    url(../img/codeup-stitch.png) top;
}
.toggle-icon{
    height: 30px;
}
.heading-primary {
    text-align: center;
    color: #fff;
    backface-visibility: hidden;
}
.heading-primary-main{
    display: block;
    letter-spacing: 5px;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}
.heading-primary-sub {
    display: block;
    letter-spacing: 3px;
    margin-bottom: 33px;

    animation-name: moveInRight;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}
.row{
    margin: 0;
}
.carousel-item{
    transition: transform 5s ease, opacity 1s ease-out
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }



}